<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Proje III</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">Anasayfa <span class="sr-only">(current)</span></a>
      </li>

      {% if request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'dashBoard' %}">Kontrol Paneli</a>
      </li>
      {% endif %}
            
    </ul>

    <ul class="navbar-nav mr-right">    

      {% if request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logOut' %}">Çıkış</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'loginUser' %}">Giriş</a>
      </li>
      {% endif %} 
      
    </ul>

  </div>
</nav>